{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1 class="page-header">FAQ</h1>

    <div class="row placeholders">
        <div class="col-md-4" style="text-align: left;">
                <p>Сохраняем файл в корневой дериктории с названием <b>after.txt</b><br/>
                В него ложим полученные данные вида<br/>
                <code style="font-size: 9px;">
                    http://site.ru/vidy/url_in|key1|http://site.ru/energia<br/>
                    http://site.ru/vidy/url_in|key2|http://site.ru/dlya_doma<br/>
                    http://site.ru/vidy/url_in|key3|http://site.ru/energia<br/>
                    ...
                </code>
                </p>
                <p>
                    После добавляем функции (с права) в файл <b>function.php</b>
                </p>
                <p>Для вывода добавляем
                    <br/>
                    В место, где хотим видеть ссылки для похожих статтей.
                    <code>
                        &lt;div&gt;&lt;?php getLinks();?&gt;&lt;/div&gt;
                    </code>
                    <br/>
                    <br/>
                    Вывод похожих статей с миниатюрой.
                    <br/>
                    <code>
                        &lt;div&gt;&lt;?php getLinks($w, $h);?&gt;&lt;/div&gt;
                    </code>
                    <br/>
                    Где $w - длина , $h - высота
                </p>
        </div>
        <div class="col-md-8" style="text-align: left; padding-left: 15px;">
            <h3 style="margin-top: 0px; padding-top: 0px">Функции</h3>
            <blockquote>
                <pre>
function getLinks($w = 0, $h = 0)
{
    $string = '';
    $newAr = array();
    $current_url = (is_ssl()?'https://':'http://').$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
    $array = file((is_ssl()?'https://':'http://').$_SERVER['HTTP_HOST'].'/after.txt', FILE_SKIP_EMPTY_LINES);
    foreach($array as $line){
        $k = explode('|',$line);
        if (count($k) < 3)
        continue;
        if ($current_url === $k[0]) {
            $newAr[] = array('k'=>$k[1],'uri'=>$k[2]);
        }
    }
    if (count($newAr) > 0) {
        $string = makeHtmlLinks($newAr, $w, $h);
    }

    echo $string;
}

function makeHtmlLinks($ar, $w, $h)
{
    $html = '&lt;p class="title" &gt;Также читайте:&lt;/p&gt;';
    $html .= '&lt;ul class="same_article"&gt;';
    foreach ($ar as $itme) {
        $imgAdd = '';
        $k = mb_strtoupper(mb_substr($itme['k'], 0, 1)) . mb_substr($itme['k'], 1);
        if ($w > 0 && $h > 0) {
            $postid = url_to_postid( $itme['uri'] );
            $img = get_the_post_thumbnail($postid, array($w, $h));
            $imgAdd = '&lt;div&gt;'.$img.'&lt;/div&gt;';
        }
        $html .='&lt;li&gt;'.$imgAdd.'&lt;a href="'.$itme['uri'].'"&gt;'.$k.'&lt;/a&gt;&lt;/li&gt;';
    }
    $html .= '&lt;/ul&gt;';

    return $html;
}
                </pre>
            </blockquote>
        </div>
    </div>
{% endblock %}
